{% extends 'base.html' %}

{% block title %} 
Galvena lapa

{% endblock %}

{% block body %}
<h1>Nomas noformešana</h1>
    <div>
        <form method="post">
            <input type="text" name="id_noma" id="id_noma" placeholder="nomas ID"><br>
            <input type="text" name="id_nomnieks" id="id_nomnieks" placeholder="nomnieka ID"><br>
            <input type="text" name="id_instruments" id="id_instruments" placeholder="instrumenta ID"><br>
            <input class="button" type="submit" value="Sūtit"><br>    
        </form>
    </div>
<div>
  

</div>
{% endblock %} 

